body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(248, 249, 250);
}

.lebarin {
  max-width: 100%;
}

.fotoAlbert img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleContainer {
  background-color: black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .my-name h1 {
    font-size: 48px;
  }
}
